@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffff;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 20px;
    background: #d9563f;
    justify-content: space-around;
}

.navbar li {
    text-decoration: none;
}

.navbar li a {
    text-decoration: none;
    color: #ffff;
    font-size: large;
}

.container-login {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

img {
    max-width: 18rem;
    width: 100%;
}

input {
    width: 16rem;
    padding: 15px;
    border: 2px solid #d9563f;
}

button {
    background-color: #ffff;
    color: #d9563f;
    border: 2px solid #d9563f;
    padding: 10px;
    cursor: pointer;
    width: auto;
}


@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
        gap: 25px;
    }

    img {
        width: 50%;
    }
}